* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 0, 0.7), rgba(4, 9, 0, 0.7)), url("photo/banner.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 1% 3%;
	justify-content: space-between;
	align-items: center;

}

nav img {
	width: 100px;

} 

.nav-links ul li {
	display: inline-block;
	padding: 4px 10px;
	position: relative;
	list-style: none;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}


.text-box {
	color:#050505;
	top: 50%;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%,50%);
    font-size: 35px;
}

.text-h1 {
    width: 90%;
    color: #fff;
    top: 25%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,50%);
}

.text-h1 h1{
    font-size: 50px;
    margin: 0px 0 10px;
}

.text-h1 p{
    font-size: 20px;
    margin: 5px 0px 40px;
    color: #fff;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.main-btn:hover {
    transition: 1s;
    border: 1px solid linear-gradient(to left, #920a0060,#9b0d0394,#b80f03c4);
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

}

.product-col {
    flex-basis: 31%;
    border-radius: 10px;
    background: #fac32c;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}

.product-col:hover {
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}

.product-col img {
    width: 100%;
    box-shadow: 3px solid #fff3f3;
}

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonials-col {
    flex-basis: 40%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    margin: auto;
}

.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonials-col .bi {
    color: #920a00;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #777;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    transition: 1s;
    border: 1px solid linear-gradient(to left, #920a0060,#9b0d0394,#b80f03c4);
    background: black;
    color: white;
}
.footer {
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.form-center {
    color: black;
    top: 1%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,45%);
    background: #ffff;
    border-radius: 12px;
    padding: 25px 23px;
}

input {
    font-size: 20px;
    padding-bottom: 5px;
    justify-content: space-between;

}

.inline
{
    text-decoration: red line-through;
    padding: 1px;
    margin: 1px;
}

.entete{
            text-align: center;
            color: blue;
            font-size: 40px;
            background-color: green;
        }
.menu{
            background-color: cyan;
            font-size: 24px;
        }
.titre_for{
            text-align: center;
            font-size: 50px;
            color: black;
            box-sizing: border-box;
        }

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("photo/background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;

} 

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

@media(max-width:700px){
    .contact-col {
        display: block;
    }
    .contact-col div {
        display: block;
    }
}

.contact-col div i {
    font-size: 28px;
    color: #7e0b03;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div P {
    margin: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}